<!doctype html>
{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>StarKe</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet">
  </head>
  <body class="bg-light">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <img src="{%static '/img/logo.svg' %}" alt="" width="50" height="40">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-dark" aria-current="page" href="#">Propostas do projeto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" href="#">Quem somos</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Contate-nos
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Email</a></li>
                  <li><a class="dropdown-item" href="#">WhatsApp</a></li>
                  <li><a class="dropdown-item" href="#">Telegram</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Instagram</a></li>
                </ul>
              </li>

          </div>
          <ul class="nav nav-pills"">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="" role="button" aria-expanded="false">Entrar</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/auth/user/login">Login</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/auth">Cadastrar</a></li>
            </ul>
          </li>
          <ul>
        </div>
      </nav>
      <div class="container">
                <h2 class="text-center my-4">Protótipo STARKE</h2>
                <div class="row justify-content-center">
                <img src="{%static '/img/banner2.jpg' %}" class="d-block-50 my-2" alt="" style="max-width: 600px;">
                </div>
                <h3 class="text-center my-4">Como o STARKE diminui os custos e aumenta a eficiência?</h3
      </div>
      <div class="container text-center">
        <div class="row align-items-start">
          <div class="col">
            Uso de materias recicláveis: 
          </div>
          <div class="col">
            IOT e controle na palma da mão: 
          </div>
          <div class="col">
            Barateamento de tecnologia:

          </div>
        </div>
        
        
      </div>

      </div>
    <script src="{% static '/js/bootstrap.js' %}"></script>
  </body>
</html>