<!doctype html>
{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>StarKe</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet">
  </head>
  <body class="bg-light">
    <nav class="navbar bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="{%static '/img/logo.svg' %}" alt="" width="50" height="40">
          </a>
          <a href="/auth/user/logout" type="button" class="btn btn-danger">Logout</a>
        </div>
      </nav>
    <div class="container-sm w-100">
    <div class="row justify-content-center">
    {% if my_devices%}
    <h3 class="text-center text-danger mb-3">Meus dispositivos: </h3>
    <table class="table mx-2" href="">
        <thead>
          <tr>
            <th scope="col">Chave do dispositivo:</th>
            <th scope="col">Nome do dispositivo:</th>
            <th scope="col">Proprietário: </th>
          </tr>
        </thead>
        <tbody>
            {% for i in my_devices%}
          <tr>
            <th scope="row">{{i.device_key}}</th>
            <td>{{i.device_name}}</td>
            <td>{{i.owner}}</td>
          </tr>
            {% endfor %}
          
        </tbody>
      </table>
      {% endif %}
      {% if third_devices%}
      <h3 class="text-center text-dark my-4">Dispositivos de terceiros: </h3>
    <table class="table mx-1">
        <thead>
          <tr>
            <th scope="col">Chave do dispositivo:</th>
            <th scope="col">Nome do dispositivo:</th>
            <th scope="col">Proprietário: </th>
          </tr>
        </thead>
        <tbody>
            {% for j in third_devices%}
          <tr>
            <th scope="row"><a href="/device_control/{{j.device_key}}" class="text-success">{{j.device_key}}</a></th>
            <td>{{j.device_name}}</td>
            <td>{{j.owner}}</td>
          </tr>
            {% endfor %}
          
        </tbody>
      </table>
      {% endif %}
    
    </div>
</div>
    <script src="{% static '/js/bootstrap.js' %}"></script>
  </body>
</html>
    
