{% load static %}
<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="shortcut icon" href="{%static '/img/favicon.png' %}">
    <!---->
    <link href="{%static 'css/boostrap.css' %}" rel="stylesheet">

    <title>Bem vindo ao Virtual Menu</title>
  </head>
  <body>
  {% for i in device_groups %}
  <h1 class="h1">{{i.group_name}}</h1>
  {% for u in i.actuators.all %}
  {% for k in actuators %}
  {% if k == u %}
  <a href="../btn_action/{{u}}/{{device_key}}" type="button" class="btn btn-primary">{{u}}</a>
  {% endif %}
  {% endfor%}
  {% endfor %}
  {% endfor %}
  <!--NAVBAR-->
  <!--JAVA SCRIPT-->
  <script src="{% static 'js/bootstrap.js'%}"></script>
  </body>
</html>