{% load static %}
<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!---->
    <link href="{%static '/css/bootstrap.css' %}" rel="stylesheet">

    <title>Bem vindo ao STARKE</title>
  </head>
  <body>
  
  <!--NAVBAR-->
  <div class="container-fluid">
  <!--FORM-->
  {% load static%}
{% load crispy_forms_tags %}
<div class="content">
  <div class="container-sm">
      <h1 class="text-center mt-2">Cadastre-se e junte-se a comunidade STARKE:</h1>
      <form action="." method="post" class="form-group" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="container-fluid mx-1 my-4 col-xs-1 center-block">
      
    <h2 class="mb-3 mt-1">Inf. de identificação: </h2>
    <div class="row">
      <div class="col-md-4">
        {{form.name|as_crispy_field}}
      </div>
      <div class="col-md-4">
        {{form.email|as_crispy_field}}
      </div>
      <div class="col-md-4">
        {{form.phone|as_crispy_field}}
      </div>
      <div class="col-md-4">
        {{form.date_of_birth|as_crispy_field}}
      </div>
    </div>
    <h2 class="my-4">Senha:</h2>
    <div class="row">
      <div class="col-md-4">
        {{form.password1| as_crispy_field}}
      </div>
      <div class="col-md-4">
        {{form.password2| as_crispy_field}}
      </div>
        
        <div class="container-fluid my-2 text-center">
        <input type="submit" value="Cadastrar" class="btn btn-warning">
        </div>
        </div>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>
  <!--END FORM-->
  </div>
 
  
  <!--JAVA SCRIPT-->
  <script src="{% static 'js/bootstrap.js'%}"></script>
  <!----->
  </body>
</html>